.image-jpg-png {
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    z-index: 1;
}


.img-1 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: -26%;
    z-index: 1;
}

.img-2 {
    display: block;
    position: relative;
    width: 9%;
    height: 50%;
    margin: 0 auto;
    margin-top: -17%;
    z-index: 2;
}


.img-3 {
    display: block;
    position: relative;
    width: 1%;
    height: 50%;
    margin: 0 auto;
    margin-top: -5.4%;
    z-index: 3;
}

.img-4 {
    display: flex;
    position: relative;
    width: 5%;
    height: 50%;
    margin: 0 auto;
    margin-top: 300px;
}



.section-3-text-1 {
    margin: auto;
    padding-top: 35px;
    width: 650px;
    height: 180px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.image-jpg-png {
    color: aliceblue;
}